/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

html, body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

main {
    max-width: 720px;
    min-height: 1000px;
    margin: 0 auto;
    box-shadow:  4px 4px 5px 1px slategrey;

}
img {
    max-width: 100px;
}
a {
    text-decoration: none;
}

/* HERO SECTION  */

.hero-section {
    background-image: url('https://images.vastsverige.com/publishedmedia/s6kavcozhnvvmi7dptup/Tidaholms_Turist_headerbild_knoppar_-2-.jpg');
    background-size: cover;
    background-position: center;
    max-width: 720px;
    min-height: 370px;
    
}

.hero-text {
    position: relative;
    top: 50px;
    color: #fff;
    margin: 0 auto;
    max-width: 50%;
    text-shadow: 0px 0px 4px black;

} 

/* HERO SECTION END */

/* ACTIVITIES SECTION */
.activities-main-section {
    display: flex;
    justify-content: center;
    background-color: #F1FAEE;
    min-height: 265px;
}
.activities-col {
    max-width: 33%;
    margin: 0.5em;
    padding: 0.5em;


}
.activities-col img {
    display: block;
    border-radius: 5px;
    min-height: 100px;
    margin: auto;
}


/* ACTIVITIES SECTION END */

/* GUIDE SECTION */
.card {
    background-color: #A8DADC;
    border: hidden;
    border-radius: 10px ;
    max-width: 400px;
    display: flex;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 4px 5px 14px 2px black;
}
.card img {
    object-fit: contain;
    
}
.card p {
    padding: 20px;
}
/* GUIDE SECTION END */


/* @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
} */