/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500;1,700&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 720px;
    min-height: 1000px;
    margin: 0 auto;
    box-shadow: 4px 4px 5px 1px slategrey;

}

img {
    max-width: 100px;
}

a {
    text-decoration: none;
    
}

footer{
    min-height: 50px;
    color: #000;
    padding: 20px;
    
}

/* HERO SECTION  */

.hero-section {
    background-image: url('https://images.vastsverige.com/publishedmedia/s6kavcozhnvvmi7dptup/Tidaholms_Turist_headerbild_knoppar_-2-.jpg');
    background-size: cover;
    background-position: center;
    max-width: 720px;
    min-height: 370px;

}

.hero-text {
    position: relative;
    top: 50px;
    color: #fff;
    margin: 0 auto;
    max-width: 50%;
    text-shadow: 0px 0px 4px black;

}

/* HERO SECTION END */

/* ACTIVITIES SECTION */
.activities-main-section {
    display: flex;
    justify-content: center;
    background-color: #b1d3a6;
    min-height: 265px;
    color: #fff;
    font-size: 1.15em;
    text-shadow: 4px 0px 13px black;
}

.activities-col a {
    color: #fff;
}

.activities-col {
    max-width: 33%;
    margin: 0.5em;
    padding: 0.5em;


}

.activities-col img {
    display: block;
    border-radius: 5px;
    min-height: 100px;
    margin: auto;
}


/* ACTIVITIES SECTION END */

/* GUIDE SECTION */
.guide-section {
    background: #a3d0ea;
    padding: 30px;
}

.card {
    background-color: #A8DADC;
    border: hidden;
    border-radius: 10px;
    max-width: 400px;
    display: flex;
    margin: 50px auto;
    padding: 10px;
    text-shadow: 6px 4px 9px black;
    box-shadow: 4px 5px 14px 2px black;
}

.card img {
    object-fit: contain;
}

.card p {
    padding: 20px;
}

/* GUIDE SECTION END */


/* @media (prefers-color-scheme: default) {
    body {
        color: #eee;
        background: #121212;
    }
} */